%h1= @title

- form_for(@user, :url => password_path(@user.perishable_token), :method => :put) do |f|
  != f.error_messages
  != f.label :password
  != f.password_field :password
  != f.label :password_confirmation
  != f.password_field :password_confirmation
  != f.submit
